# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Django
db.sqlite3
db.sqlite3-journal
*.log
/staticfiles/
media/

# Tooling
.pytest_cache/
.coverage
htmlcov/

# OS / editor
.DS_Store
.idea/
.vscode/
